# Extração datasets. <br>
Instalação bibliotecas python:

In [ ]:
!pip install pandas
!pip install numpy

!pip install openpyxl # resolver o erro Missing optional dependency 'openpyxl'

!pip freeze >> requirements.txt

Importando as bibliotecas python:

In [26]:
import pandas as pd
import numpy as np

Importação dos datasets (04) para análise exploratória:
Bancos.xlsx
Movimentos.xlsx
PlanoContas.xlsx
SaldoAnterior.xlsx

01. Dataset Bancos.xlsx

Obs.: Confirmar se o endereço do dataset está correto.

In [28]:
import os

caminho = "C:/Users/Usuário/Documents/_rma/_tecnologia/_data/evolve_data/projetos/fluxo_de_caixa_python_sql/dataset/Bancos.xlsx"

print(os.path.exists(caminho))  # Retorna True se o arquivo for encontrado

True

Criar dataframe e visualizar as primeiras linhas:

In [27]:
df_bancos = pd.read_excel("C:/Users/Usuário/Documents/_rma/_tecnologia/_data/evolve_data/projetos/fluxo_de_caixa_python_sql/dataset/Bancos.xlsx", sheet_name="Bancos")
df_bancos.head()

   Banco_ID          Banco
0         1  Itau Unibanco
1         2       Bradesco
2         3          Inter

Verificar os tipos de dados e colunas do dataframe:

In [29]:
df_bancos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Banco_ID  3 non-null      int64
 1   Banco     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

Verificar valores nulos do dataframe:

In [30]:
df_bancos.isnull().sum()

Banco_ID    0
Banco       0
dtype: int64

Verificar valores duplicados:

In [31]:
duplicate_value_bancos = df_bancos.duplicated()
print(f"Total de valores duplicados: {duplicate_value_bancos.sum()}")

Total de valores duplicados: 0

Verificar a estatística das colunas textuais do dataframe:

In [34]:
df_bancos.describe(include=["object"])

                Banco
count               3
unique              3
top     Itau Unibanco
freq                1

02. Dataset PlanoContas.xlsx

Criar dataframe e visualizar as primeiras linhas:

In [35]:
df_contas = pd.read_excel("C:/Users/Usuário/Documents/_rma/_tecnologia/_data/evolve_data/projetos/fluxo_de_caixa_python_sql/dataset/PlanoContas.xlsx", sheet_name="PlanoContas")
df_contas.head()

   Subgrupo_ID                  Subgrupo  Conta_ID                       Conta
0         1100       Receitas com vendas      1101          Vendas de produtos
1         1200      Receitas financeiras      1201       Receita de aplicações
2         1200      Receitas financeiras      1202  Transferências de entradas
3         2100  Pagamento a fornecedores      2101               Matéria-prima
4         2100  Pagamento a fornecedores      2102            Energia elétrica

Verificar os tipos de dados e colunas do dataframe:

In [36]:
df_contas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Subgrupo_ID  27 non-null     int64
 1   Subgrupo     27 non-null     object
 2   Conta_ID     27 non-null     int64
 3   Conta        27 non-null     object
dtypes: int64(2), object(2)
memory usage: 996.0+ bytes

Verificar valores nulos do dataframe:

In [37]:
df_contas.isnull().sum()

Subgrupo_ID    0
Subgrupo       0
Conta_ID       0
Conta          0
dtype: int64

Verificar valores duplicados:

In [38]:
duplicate_value_contas = df_contas.duplicated()
print(f"Total de valores duplicados: {duplicate_value_contas.sum()}")

Total de valores duplicados: 0

Verificar a estatística das colunas textuais do dataframe:

In [39]:
df_contas.describe(include=["object"])

                        Subgrupo               Conta
count                         27                  27
unique                         7                  27
top     Pagamento a fornecedores  Vendas de produtos
freq                          12                   1